
/* 659A9A analogic http://colorschemedesigner.com/ */

/* GLobal tag styles */
html, body 
{
	height: 100%;
    margin: 0;
}
p
{
	font-family: "mostra-nuova";
	font-size: 1.8em;
}
h1
{
	margin: 40px 0px 0px 0px;
	padding: 0px;
	font-family: "teeshirt";
	font-size: 7em;
}
h3
{
	font-family: "teeshirt";
}
input, textarea
{
	border: 2px solid #001933; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 8px;
	font-size: 1.5em;
	font-family: sans-serif;
	background-color: #e5e9f2;
	color: #003366;	
}
input
{
	text-align: center;
}
textarea
{
	text-align: left;
}
input:focus, textarea:focus
{
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.40);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.40);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.40);
}

/* Page global styles */
#wrapper 
{
	min-height: 100%; 
	position: relative;
}
.content_cell_less_pad
{
 	padding-top: 100px;
 	text-align: center;
 	width: 1200px;
 	margin-left: auto;
 	margin-right: auto;
}

 /* Global Effects */
.shadow_bottom
{
	-webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.75);
}
.shadow_top
{
	-webkit-box-shadow: 0px -2px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px -2px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px -2px 6px rgba(50, 50, 50, 0.75);
}

/* Main menu */
#menu
{
	position: fixed;
    left: 0;
    top: 0;
    height: 120px;
    width: 100%;
    background-image: url('../img/tweed.png');
    background-repeat: repeat;
	text-align: center;
	z-index: 200;
}
#menu ul
{
	padding: 0px;
	margin: 10px 0px 0px 0px;
	bottom: 0px;
	height: 120px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#menu ul li
{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	width: 200px;
	position: relative;
}
.menu_link
{

	text-align: center;
	position: absolute;
}
#menu a
{
	font-family: "mostra-nuova";
	color: #e5e9f2;
	font-size: 2em;
	text-decoration: none;
	display: block;
	width: 200px;
	margin-left: 50%;
	margin-right: 50%;
	position: absolute;
}
#contact_form_container p
{
	margin: 20px 0px 0px 0px;
}
#contact_form_container p.meta
{
	font-size: 1em;
	font-family: sans-serif;
	margin: 0px;
}

/* Home page */
.home
{
	background-image: url('../img/squairy_light.jpg');
	background-repeat: repeat;
}
.home h1
{	
	text-shadow: 6px 5px 5px rgba(150, 150, 150, 1);
	color: #003366;	
	margin-top: 70px;
}
.home h3
{	
	text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
	font-size: 3em;
	color: #3d454c;
	margin: 15px;
}

/* Developer page */
.developer
{
	background-image: url('../img/greyzz.jpg');
	background-repeat: repeat;
	z-index: 20;
}
.developer h1
{
	text-shadow: 3px 5px 5px rgba(0, 0, 0, 1);
	color: #885511;
}
.developer h2
{
	font-family: "mostra-nuova";
	font-size: 1.8em;
}
.developer h3
{
	font-size: 1.8em;
}

/* Designer page */
.designer
{
	background-image: url('../img/old_moon.jpg');
	background-repeat: repeat;
}
.designer h1
{
	color: #001933;
	margin-bottom: 0px;
}
.designer h3
{
	font-size: 1.8em;
	margin-top: 0px;
}
.designer p
{
	padding:0px;
	margin: 10px 0px 0px 0px;
}
/* Contact page */
.contact
{
	background-image: url('../img/squairy_light.jpg');
	background-repeat: repeat;
}
.contact h1
{
	color: #001933;
	font-size: 7em;
}

/* Componenets */
#skills
{
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	display: block;
}
.skill_circle 
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 120px;
	height: 120px; 
	display: inline-block;
	padding: auto;
	text-align: center;
	background: rgb(221, 204, 187);
	background: -moz-linear-gradient(309deg, rgb(221, 204, 187) 58%, rgb(225, 225, 238) 100%);
	background: -webkit-linear-gradient(309deg, rgb(221, 204, 187) 58%, rgb(225, 225, 238) 100%);
	background: -o-linear-gradient(309deg, rgb(221, 204, 187) 58%, rgb(225, 225, 238) 100%);
	background: -ms-linear-gradient(309deg, rgb(221, 204, 187) 58%, rgb(225, 225, 238) 100%);
	background: linear-gradient(39deg, rgb(221, 204, 187) 58%, rgb(225, 225, 238) 100%);
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
	border: 3px solid #885511; 
}
.skill_circle:hover
{
	background: rgb(221, 204, 187);
	background: -moz-linear-gradient(30deg, rgb(221, 204, 187) 70%, rgb(225, 225, 238) 100%);
	background: -webkit-linear-gradient(30deg, rgb(221, 204, 187) 70%, rgb(225, 225, 238) 100%);
	background: -o-linear-gradient(30deg, rgb(221, 204, 187) 70%, rgb(225, 225, 238) 100%);
	background: -ms-linear-gradient(30deg, rgb(221, 204, 187) 70%, rgb(225, 225, 238) 100%);
	background: linear-gradient(120deg, rgb(221, 204, 187) 70%, rgb(225, 225, 238) 100%);
}
.skill_circle img
{
	margin-top: 20px;
}
.portfolio_screenshot
{
	display: inline-block;
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
	border: 3px solid #111110; 
	margin: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	background-image: url('../img/tweed.png');
	width: 300px;
    background-repeat: repeat;
}
.portfolio_screenshot img
{
	width: 280px;
	border: 2px solid #111110; 
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
}
.portfolio_screenshot a
{
	color: #e5e9f2;
	text-decoration: none;	
}
.portfolio_screenshot p
{
	color: #e5e9f2;
	text-decoration: none;
	font-size: 1.2em;
}
.portfolio_screenshot a:hover
{
	text-decoration: underline;
}
.sep_circle
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #3d454c;
	display: inline-block;
	margin: 0px 4px 0px 4px;
	border: 3px solid #003366;	
}
.dan 
{
	bottom: 0px;
	z-index: 1;
}
.dan_container
{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	z-index: 1;
}