
/* 659A9A analogic http://colorschemedesigner.com/ */

/* GLobal tag styles */
html, body 
{
	height: 100%;
    margin: 0;
    background-image: url('../img/tweed.png');
    background-repeat: repeat;
}
p
{
	font-family: "mostra-nuova";
	font-size: 1.6em;
	z-index: 100;
}
h1
{
	margin: 40px 0px 0px 0px;
	padding: 0px;
	font-family: "teeshirt";
	font-size: 6em;
}
h3
{
	font-family: "teeshirt";
}
input, textarea
{
	border: 2px solid #001933; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
	font-size: 1.2em;
	font-family: sans-serif;
	background-color: #e5e9f2;
	color: #003366;	
}
input
{
	text-align: center;
	width: 40%;
}
textarea
{
	text-align: left;
	width: 60%;
}
input:focus, textarea:focus
{
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.40);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.40);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.40);
}
input[type=button]
{
	width: 20%;
	background-color: #001933;
	color: #e5e9f2;
}
input[type=button]:hover
{
	background-image: url('../img/tweed.png');
    background-repeat: repeat;
    cursor: pointer;
}

/* Page global styles */
.wrapper 
{
	min-height: 100%; 
	position: relative;
}
.home
{
	overflow: hidden;
}

.content_cell_less_pad
{
 	padding-top: 100px;
 	text-align: center;
 	width: 1200px;
 	margin-left: auto;
 	margin-right: auto;
 	position: relative;
}

 /* Global Effects */
.shadow_bottom
{
	-webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.75);
}
.shadow_top
{
	-webkit-box-shadow: 0px -2px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px -2px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px -2px 6px rgba(50, 50, 50, 0.75);
}

/* Main menu */
#menu
{
	position: fixed;
    left: 0;
    top: 0;
    height: 120px;
    width: 100%;
    background-image: url('../img/tweed.png');
    background-repeat: repeat;
	text-align: center;
	z-index: 600;
}
#mobile_menu
{
	display: none;
}
#mobile_menu img
{
	border: 0px;
}
#menu ul
{
	padding: 0px;
	margin: 10px 0px 0px 0px;
	bottom: 0px;
	height: 120px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#menu ul li
{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	width: 200px;
	position: relative;
}
.menu_link
{
	text-align: center;
	position: absolute;
	border: 0px;
}
#menu a
{
	font-family: "mostra-nuova";
	color: #e5e9f2;
	font-size: 2em;
	text-decoration: none;
	display: block;
	width: 200px;
	margin-left: 50%;
	margin-right: 50%;
	position: absolute;
}
#contact_form_container p
{
	margin: 20px 0px 0px 0px;
}
#contact_form_container p.meta
{
	font-size: 1em;
	font-family: sans-serif;
	margin: 0px;
}

/* Home page */
.home
{
	background-image: url('../img/squairy_light.jpg');
	background-repeat: repeat;
}
.home h1
{	
	text-shadow: 6px 5px 5px rgba(150, 150, 150, 1);
	color: #003366;	
	margin-top: 70px;
}
.home h3
{	
	text-shadow: 2px 1px 5px rgba(150, 150, 150, 1);
	font-size: 3em;
	color: #3d454c;
	margin: 15px;
}
.home p
{
	text-shadow: 2px 2px 10px rgba(225, 246, 255, 1);
	z-index: 300;
	position: relative;
}

/* Developer page */
.developer
{
	background-image: url('../img/greyzz.jpg');
	background-repeat: repeat;
	z-index: 20;
}
.developer h1
{
	color: #003366;
}
.developer h2
{
	font-family: "mostra-nuova";
	font-size: 1.8em;
}
.developer h3
{
	font-size: 1.8em;
}
.developer a
{
	color: #e5e9f2;
	text-decoration: none;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
	font-size: 1.2em;
}
.developer a:hover
{
	text-decoration: underline;
}

/* Designer page */
.designer
{
	background-image: url('../img/old_moon.jpg');
	background-repeat: repeat;
	z-index: 20;
}
.designer h1
{
	color: #001933;
	margin-bottom: 0px;
}
.designer h3
{
	font-size: 1.8em;
	margin-top: 20px;
	font-family: "mostra-nuova";
	font-weight: 100;
}
.designer p
{
	padding:0px;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}
/* Contact page */
.contact
{
	background-image: url('../img/squairy_light.jpg');
	background-repeat: repeat;
	z-index: 20;
}
.contact h1
{
	text-shadow: 6px 5px 5px rgba(150, 150, 150, 1);
	color: #003366;	
}
.contact a
{
	color: #001933;
}

/* Componenets */
#skills
{
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	display: block;
}
.skill_circle 
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 120px;
	height: 120px; 
	display: inline-block;
	padding: auto;
	text-align: center;
	margin-bottom: 4px;
	background-color: #e5e9f2;
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
	border: 3px solid #003366; 
}
.skill_circle img
{
	margin-top: 20px;
}
.portfolio_screenshot
{
	display: inline-block;
	margin: 5px 10px 5px 10px;
	padding: 7px 0px 7px 0px;
}
.portfolio_screenshot img
{
	width: 100%;
	border: 3px solid #111110; 
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
}
.portfolio_screenshot a
{
	color: #003366;
	text-decoration: none;	
}
.portfolio_screenshot p
{
	color: #003366;
	text-decoration: none;
	font-size: 1.5em;
}
.portfolio_screenshot a:hover
{
	text-decoration: underline;
}
.sep_circle
{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #3d454c;
	display: inline-block;
	margin: 0px 4px 0px 4px;
	border: 3px solid #003366;	
	position: relative;
	z-index: 200;
}
.dan
{
	z-index: 1;
	display: none;
}
.dan_container
{
	width: 100%;
	text-align: center;
}
.error
{
	color: red;
	font-weight: bold;
}
#show_project_list:hover
{
	cursor: pointer;
}
#project_list
{
	display: none;
	background-color: #e5e9f2;
	border: 3px solid #003366; 
	-webkit-box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 2px 18px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 2px 18px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
#project_list h2
{
	color: #003366;
	font-size: 2.6em;
}
#project_list ul
{
	text-align: left;
	font-size: 1.3em;
	font-family: "mostra-nuova";
}
#project_list li
{
	margin-bottom: 6px;
}
#project_list ul li a
{
	color: #003366;
	font-size: 1.1em;
	text-shadow: none;
}

